.Input {
    display: flex;
    justify-content: center;
    background: lightskyblue;
    border-radius: 18px;
    border: 1px solid #0000003d;
    position: sticky;
    top: 16px;
    margin-bottom: 15px;
}
input{
    font-size:26px;
    border-radius:18px 18px 18px 18px;
    background-color: transparent;
    color: black;
    text-align: center;
    border: none;
}

.InputButton {
    background-color: transparent;
    border: transparent;
    color: black;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
    display: flex;
}

input:focus {
    outline: none;
  }

@media  screen and (max-width: 768px) {
    
    
}